<title>TestMyBot IDE</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.6.0/css/xeditable.min.css" />

<link rel="stylesheet" href="https://cdn.rawgit.com/sachinchoolur/angular-flash/0e963567/dist/angular-flash.min.css" />

<link rel="stylesheet" href="/public/css/journal/bootstrap.min.css" />
<link rel="stylesheet" href="/public/css/styles.css" >

